@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: rgb(34, 33, 33);
}

header {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.116);
  height: 70px;
  z-index: 10;
  position: relative;
  padding-right: 45px;
}
header .title {
  font-size: x-large;
  width: 150px;
  margin-left: 15px;
  padding-top: 10px;
  color: rgb(255, 0, 0);
}
header ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  justify-content: end;
  padding-top: 5px;
}
header a {
  margin-right: 25px;
  padding: 3px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
header a:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.4s;
  color: rgb(0, 0, 0);
  background-color: rgba(240, 248, 255, 0.486);
  border-radius: 3px;
}

.contenedor {
  display: flex;
  align-items: center;
}

.movie {
  display: flex;
  padding: 20px;
  margin: 20px;
  margin-top: 0%;
}
.movie img {
  max-width: 200px; /* Ancho máximo de la imagen */
  height: auto;
  border-radius: 5px;
  margin-right: 20px; /* Espacio entre la imagen y la información */
}
.movie h2 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
  width: 300px;
  position: relative;
  color: #ff503c;
}
.movie p {
  font-size: 16px;
  margin: 5px 0;
  padding-top: 5px;
  color: rgb(233, 222, 208);
}
.movie strong {
  font-weight: bold;
  color: #009447;
}
.movie .estrella {
  width: 15px;
  height: 14px;
  padding-top: 3px;
}
.movie .datos {
  margin: 20px;
  width: 75%;
  padding-top: 15px;
}

.serie {
  display: flex;
  padding: 20px;
  margin: 20px;
  margin-top: 0%;
}
.serie img {
  max-width: 200px; /* Ancho máximo de la imagen */
  height: auto;
  border-radius: 5px;
  margin-right: 20px; /* Espacio entre la imagen y la información */
}
.serie h2 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
  width: 300px;
  position: relative;
  color: #ff503c;
}
.serie p {
  font-size: 16px;
  margin: 5px 0;
  padding-top: 5px;
  color: rgb(233, 222, 208);
}
.serie strong {
  font-weight: bold;
  color: #009447;
}
.serie .estrella {
  width: 15px;
  height: 14px;
  padding-top: 3px;
}
.serie .datos {
  margin: 20px;
  width: 75%;
  padding-top: 15px;
}

h1 {
  color: rgb(255, 255, 255);
  padding-top: 25px;
  margin-left: 25px;
}

.img-info:hover {
  transform: scale(1.1); /* Cambia el tamaño de la imagen al pasar el mouse (ajusta según sea necesario) */
  transition: 0.3s;
}

.raiting {
  float: right;
}

.raiting strong {
  color: #00E06B;
}

.comentario {
  margin-top: 70px;
}

.images-container {
  margin-top: 50px;
  display: inline-block;
  text-align: center;
  margin-left: 17px;
}

.images-container img {
  width: 200px;
  height: 300px;
  margin-right: 15px;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 10px;
}

.images-container img:hover {
  cursor: pointer;
  transform: scale(1.1); /* Cambia el tamaño de la imagen al pasar el mouse (ajusta según sea necesario) */
  transition: 0.3s;
  border-radius: 0;
  filter: blur(2px);
}

/*# sourceMappingURL=styles.css.map */
